<div class="twocol">
    <div class="viewcomm">
        <p class="views">
        </p>
        <p class="icolink">
            <%= get_view_count(d.view_count) %>
        </p>
        <p class="comments">
        </p>
        <p class="icolink">
            <%length = d.comments.all.length %>
            <%if length == 1 %>
            <%c_name = "comment" %>
            <%else %>
            <%c_name = "comments" %>
            <%end %>
            <%= link_to  "#{length}&nbsp;#{c_name}" ,:controller=>:designs, :action => :design,:permalink => d.permalink %>
        </p>
        <p class="favorites">
        </p>
        <p class="icolink">
            <%fav = d.favoriting_users.size %>
            <%if fav == 1 %>
            <%f_name = "favorite" %>
            <%else %>
            <%f_name = "favorites" %>
            <%end %>
            <%=fav %>&nbsp;<%=f_name %>
            <!--     250 Favorites -->
        </p>
        <p class="clear">
        </p>
    </div>
    <div class="c1">
        <p class="boximg">
            <%=link_to get_image(d,'design','medium','nobrd'),{:controller=>:designs, :action => :design,:permalink => d.permalink} %>
        </p>
    </div>
    <div class="c2">
        <p class="head01">
            <%= link_to get_name(d.name,65),:controller=>:designs, :action => :design,:permalink => d.permalink %>
        </p>
        <p class="txt01 fleft">
            -&nbsp; by&nbsp; 
        </p>
        <p class="txtblue fleft">
            <%= link_to get_name(d.user.login),my_page_path(:user_id => d.user.id) %>
            <%#= get_my_page_link(truncate(d.user.login,8), d.user.id) %>
            <!-- <a href="Members_Page.html"><%#= get_name(d.user.login) %></a> -->
        </p>
        <p class="txt01 fleft">
            ,&nbsp;<%= time_ago(d.created_at) %>
        </p>
        <div class="rating" id="rated_<%=d.id%>" style="">
            <% @design = d %>
            <%=render :partial=>"/designs/star_rate" ,:locals => {:d => @design },:inline=>true %>
        </div>
        <p class="clear">
        </p>
        <p class="txt topmargin">
            <%= h get_name(d.description,250) %>
        </p>
        <% unless d.tags.nil? %>
        <% unless d.tags.length == 0 %>
        <p class="tags">
            <% d.tags.split(',').each do |tag| %>
            <%= link_to h(tag) , :controller => "designs", :action => "index" , :tag => tag, :tagable_id => d.id %><%= "," unless tag == d.tags.split(',').last %>
            <% end %>
        </p>
        <% end %>
        <% end %>
        <%url = request.host_with_port %>
          <iframe src="http://www.facebook.com/plugins/like.php?href=http://fans.solidworks.in/<%=d.class.to_s.downcase.pluralize%>/<%=d.class.to_s.downcase%>/<%=d.permalink%>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
    </div>
    <p class="clear">
    </p>
    <div class="iconComment brdBotDot01">
        <div class = "comlinkpadd">
            <div class="fleft">
                <p class="postcom">
                </p>
                <p class="icolink">
                    <a href="javascript:void(0);" class="blacklink" onclick="toggleCommentDiv(<%=d.id%>)">Comment</a>
                </p>
                <p class="share">
                </p>
                <p class="icolink">
                    <a href="javascript:void(0);" class="blacklink" onclick="toggleShareDiv(<%=d.id%>)">Share</a>
                </p>
                <p class="favorites">
                </p>
                <p class="icolink">
                    <a href="javascript:void(0);" class="blacklink" onclick="toggleFavoriteDiv(<%=d.id%>)">Add to Favorites</a>
                </p>
            </div>
            <% if same_design %>
            <% if by_user %>
            <%else %>
            <div class="fleft">
                <p class="sameuser">
                </p>
                <p class="icolink">
                    <%= link_to "Designs by Same User" ,{:controller=>"designs",:action=>"index",:user_id=>d.user_id},:class=>"blacklink" %>
                </p>
            </div>
            <%end %>
            <% end %>
        </div>
    </div>
    <p class="clear">
    </p>
    <div id="ComContent<%=d.id%>">
    </div>
</div>
<p class="clear">
</p>
<!-- Comment form starts -->
<div id = "design_comment_<%=d.id%>" style ="display:none;">
    <div id="ComContent">
        <%if logged_in? %>
        <div class="brd">
            <%@type="Design" %>
            <% form_remote_tag :url=>{:controller=>'comment',:action=>'post_comment',:id=>d.id,:type=>@type} ,:html=>{:name=>'postcomment'} , :before => "$('#spinner_#{d.id}').show();",:complete => "$('#spinner_#{d.id}').hide();" do %>
            <%= text_area_tag 'comment_text', nil, :class => 'inputtxt' %>
            <%= submit_tag 'Post' ,:class=>'grnbtn' %>
            <%= image_tag("loading.gif",:align => 'absmiddle',:border=> 0,:id => "spinner_#{d.id}",:style=>"display:none; width: 20px; margin-top: 0px;" ) %>
            <%end %>
        </div>
        <%else %>
        <div class="brd">
            Please login to post comment.
        </div>
        <%end %>
    </div>
</div>
<!-- comment form ends --><!-- sharing form -->
<div id = "design_share_<%=d.id%>" style ="display:none;">
    <div id="ComContent">
      <%if logged_in?%>
      <%height = "height:153px;"%>
      <%else%>
      <%height = "height:51px;"%>
      <%end%>
        <div class="brd" style="<%=height%>">
            <div class="group iconComment">
               <%if logged_in? %>
                <div class="fourCol">
                    <p class="c7">
                        <span class="followingIcon"></span>
                        <span class="black">Share with People You Follow</span>
                    </p>
                    <% form_remote_tag :url => {:controller=> "share",:action => 'share_with_followings'} do -%>
                    <p class="c8">
                        <%=hidden_field_tag 'id', d.id %>
                        <%=hidden_field_tag 'type', @type %>
                        <!-- <%=check_box_tag 'all_following', '1', false, :class => 'inputcheck'%>All Followings --><span><%= submit_tag 'Share' , :class=>"grnbtn01" %></span>
                    </p>
                    <%end %>
                    <p class="frm_brd01">
                    </p>
                </div>
                <div class="fourCol">
                    <p class="c7">
                        <span class="followersIcon"></span>
                        <span class="black">Share with Followers</span>
                    </p>
                    <% form_remote_tag :url => "/share/share_with_followers" do -%>
                    <p class="c8">
                        <%=hidden_field_tag 'id', d.id %>
                        <%=hidden_field_tag 'type', @type %>
                        <!--  <%=check_box_tag 'all_followers', '1', false, :class => 'inputcheck'%>All Followers --><span><%= submit_tag 'Share' , :class=>"grnbtn01" %></span>
                    </p>
                    <%end %>
                    <p class="frm_brd01">
                    </p>
                </div>
               <%end%>
                <%=render :partial=>"designs/share_with_other" ,:locals=>{:d=>d,:flag=>false},:inline=>true %>
            </div>
        </div>
    </div>
</div>
<!-- sharing form end -->
<div id = "design_favorite_<%=d.id%>" style ="display:none;">
    <div id="ComContent">
        <% if logged_in? %>
        <%if current_user.has_favorite?(d) %>
        <div class="brd">
            You have already favorited this design.
        </div>
        <%elsif current_user == d.user %>
        <div class="brd">
            You can't favorite your own design.
        </div>
        <%else %>
        <div class="brd">
            <form action="postcomment.jsp" method="get" name="postcomment">
                <p style="float:left;">
                    Do you want to Add this Design to your Favorites? 
                </p>
                <p style="float:left;">
                    <label>
                        <input type="radio" name="RadioGroup1" value="yes" id="RadioGroup1_0"<% if logged_in? %><%unless current_user.has_favorite?(d) %>onclick="<%= remote_function :url =>{:controller => "share", :action => :add_to_favorite, :id => d.id,:type=>@type} %>" <%end %><%if current_user.has_favorite?(d) %>checked="checked"<%end %><%end %>/>Yes
                    </label>
                    <label>
                        <input type="radio" name="RadioGroup1" value="yes" id="RadioGroup1_1"<% if logged_in? %><%if current_user.has_favorite?(d) %>onclick="<%= remote_function :url =>{:controller => "share", :action => :remove_from_favorite, :id => d.id,:type=>@type} %>" <%end %><%unless current_user.has_favorite?(d) %>checked="checked"<%end %><%end %> />No
                    </label>
                </p>
            </form>
            <div id ="success_msg_<%=d.id%>">
            </div>
        </div>
        <%end %>
        <%else %>
        <div class="brd">
            Please login to add as Favorites.
        </div>
        <%end %>
    </div>
</div>
<script defer="defer" type="text/javascript">
      function toggleCommentDiv(divid){  
         $('#design_share_' + divid).hide();
         $('#design_favorite_' + divid).hide();
         $('#design_comment_' + divid).slideToggle();
    }
      function toggleShareDiv(divid){
         $('#design_comment_' + divid).hide();
         $('#design_favorite_' + divid).hide();
         $('#design_share_' + divid).slideToggle();
    }
      function toggleFavoriteDiv(divid){  
         $('#design_comment_' + divid).hide();
         $('#design_share_' + divid).hide();
         $('#design_favorite_' + divid).slideToggle();
    }
     function checkFollowings(){
      <%if logged_in?%>
          <%if current_user.following_by_type('User').empty?%>
            show_notice('You are not following anybody yet','error')
            return false;
          <%end%>
      <%end%>
    }
      function checkFollowers(){
      <%if logged_in?%>
          <%if current_user.followers.empty?%>
            show_notice('You dont have any followers yet','error')
            return false;
          <%end%>
      <%end%>
    }
</script>
