<% form_remote_tag :url => '/profiles/update_password' , :before => "$('#spinner').show();",:complete => "$('#spinner').hide();" do -%>	
    <div class="proform">
    	<div class="proform_l">
        
        	<div class="formrow">
                <p class="c1">Username:</p>
                <p class="c2"><%= h current_user.login%></p>
            </div>
        	<div class="formrow">
                <p class="c1">Old Password:</p>
                <p class="c2"><%= password_field_tag(:old_password,nil, :class => "proinput")%>
                    <br>
                    <span id="old_password_error"></span>
                </p>
            </div>
            <div class="formrow">
                <p class="c1">New Password:</p>
                <p class="c2"><%= password_field_tag(:password,nil, :class => "proinput")%>
                    <br>
                    <span id="new_password_error"></span>
                </p>
            </div>
            <div class="formrow">
                <p class="c1">Confirm Password:</p>
                <p class="c2"><%= password_field_tag(:password_confirmation,nil, :class => "proinput")%>
                    <br>
                    <span id="password_confirmation_error"></span>
                 </p>
            </div>
        </div>
    </div>
    
	<div class="proform">
    	<div class="proform_l">
        	<div class="formrow">
                <p class="c1">&nbsp;</p>
                <p class="c2">
                        <%= submit_tag 'Submit' , :class => "grnbtn01"%>                	
                	<%=button_to_remote 'Cancel',{:update => "ComContent1",:url =>{ :action => :get_basics}, :complete => "profileTabSelect($('#basic'))"}, :class=> "grnbtn01"%><!-- <input name="Save" type="button" value="Cancel" class="grnbtn01" /> -->
                        <%= image_tag("loading.gif",:align => 'absmiddle',:border=> 0,:id => "spinner",:style=>"display:none; width: 20px; margin-top: 0px;" ) %>
                </p>
            </div>
	    </div>
    </div>
    <%end%>
    <p class="spacer01"></p>