<%= stylesheet_link_tag "styles",'notification'%>
<%= javascript_include_tag "jquery.js","common.js","notice" %>
<% form_remote_tag :url=>{:controller=>'sessions',:action=>'forgot'} ,:html=>{:name=>'main'} , :before => "$('#spinner').show();",:complete => "$('#spinner').hide();" do|f| %>
<script type = "text/javascript">
                          <% if flash[:notice] %>
                		  show_notice('<%= flash[:notice] %>','success');
                		  <% end %>
                          <% if flash[:error] %>show_notice('<%= flash[:error] %>','error');
						  <% end %>

            </script>
<div class="newuser">
	<div class="txt">
    	Forgot your password? Enter your login email below.
        We will send you an email with a link to reset your password.
    </div>
    <p class="spacer04"></p>
    <!--
	<div class="txt01">
	    <a href="#">Have a confirmation code already?</a>
    </div>
    <p class="spacer04"></p>
  <div class="txt01">
   	<strong>Security Check</strong><br /><br />
	Enter <strong>both words</strong> below, <strong>separated by a space</strong>.<br />
    Can't read the words below? <a href="#">Try different words</a>. 
	</div>
    <p class="spacer04"></p>
    	<p class="c1">&nbsp;</p>
  		<p class="c2"><b>How much does 10 * 10 is ?</b></p>

    <p class="spacer04"></p>
    	<p class="c1">&nbsp;</p>
        <p class="c2"><input type="text" name="lname" class="inputtxt03" value="" /></p>
    <p class="spacer04"></p>
	-->

  <!--
    	<p class="c1">&nbsp;</p>
  <p class="c2">
    <b>  How much does <%= @user.captcha.task %> is ? </b>
   </p>
   <p class="spacer04">     
     </p>
    <p class="c1">
        &nbsp;
    </p>
  <p class="c2">
      <%= text_field :user, :captcha_solution, :class=> "inputtxt03" %>
      <%= hidden_field :user, :captcha_secret %>      
        <br>
        <span id="captcha_solution_error" class="c2"></span>         
    </p>
	<p class="spacer04">
    </p>
 -->

    	<p class="c1">Email-Id:</p>
        <p class="c2"><input type="text" name="user[email]" class="inputtxt03" value="" /></p>
         
	<p class="spacer04"></p>
		<p class="c1">&nbsp;</p>
        <p class="c2">
          <%= submit_tag 'Get Password!' ,:class=>'grnbtn02' %>
          <input type="button" class="grnbtn02 cancel_popup" value="Cancel" onclick="return hs.close(this);" />
          <%= image_tag("loading.gif",:align => 'absmiddle',:border=> 0,:id => "spinner",:style=>"display:none; width: 20px; margin-top: 0px;" ) %>
        </p>
</div>
<% end %>