<script type="text/javascript">
  function toggleReplyDiv(divid)
  {
    $('#ComContent_'+divid).slideToggle();
  }
</script>

<div class="group" id="comment_<%=learning_comment.id%>">
  <div id ="msg_<%=learning_comment.id%>"></div>
  <div class="threCol">
    <div class="cc1">
      <%= link_to get_image(learning_comment.user,'user','thumb','nobrd'),my_page_path(:user_id => learning_comment.user.id) unless learning_comment.user.nil?%>
    </div>
    <div class="cc2">
      <%= link_to get_name(learning_comment.user.login,15),my_page_path(:user_id => learning_comment.user.id) unless learning_comment.user.nil?%>
      <!--<a href="Members_Page.html" class="blue"><%#= get_name(d.user.login) %></a>-->
      <br/>
      <%= time_ago(learning_comment.created_at) %>
    </div>
    <div class="cc4" id="ComLink">
      <%=h get_name(learning_comment.comment,5000)%>
      <br/> 
            <%if logged_in? and current_user.id == learning_comment.user.id%>
                <%= link_to_remote "Delete",:url => { :action => "delete_comment",:id=>learning_comment.id,:obj_id=>@learning.id}, :before => "$('#spinner_delete_#{learning_comment.id}').show();",:complete => "$('#spinner_delete_#{learning_comment.id}').hide();",:html => { :href =>"javaScript:void(0)" },:confirm=>"Are you sure you want to delete?" %>
                <%= image_tag("loading.gif",:align => 'absmiddle',:border=> 0,:id => "spinner_delete_#{learning_comment.id}",:style=>"display:none; width: 20px; margin-top: 0px;" ) %>
              <%end%>

      <%unless learning_comment.replies.length == 0%>
        <%learning_comment.replies.each do |re|%>
          <div id="comment_reply_<%=re.id%>">
            <div id ="ComContent">
              <div class="brd">
                <div class="twocol02">
                  <p class="c1">
                    <%= link_to get_image(re.user,'user','thumb','nobrd'),my_page_path(:user_id => re.user.id) unless re.user.nil?%>
                    <br />
                    <span class="mname">
                      <%= link_to get_name(re.user.login,15),my_page_path(:user_id => re.user.id) unless re.user.nil?%>
                    </span>
                  </p>
                  <p class="c2"><%=h get_name(re.comment,50000)%></p>
                  <p>
                    <%= time_ago(re.created_at) %>,&nbsp;
                    <%if logged_in? and current_user.id == re.user_id%>
                      <%= link_to_remote "Delete",:url => { :action => "delete_reply",:id=>re.id,:obj_id=>@learning.id}, :before => "$('#spinner_delete_#{re.id}').show();",:complete => "$('#spinner_delete_#{re.id}').hide();",:html => { :href =>"javaScript:void(0)" },:confirm=>"Are you sure you want to delete?" %>
                      <%= image_tag("loading.gif",:align => 'absmiddle',:border=> 0,:id => "spinner_delete_#{re.id}",:style=>"display:none; width: 20px; margin-top: 0px;" ) %>
                    <%end%>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>&nbsp;</div>
        <%end%>
      <%end%>
      <p class="spacer01"></p>
      <a href="javascript:void(0);" class="black" onclick="toggleReplyDiv(<%=learning_comment.id%>)">Reply</a>
      <div id="ComContent_<%=learning_comment.id%>" style ="display:none;">
        <div id ="ComContent">
          <%if logged_in?%>
            <div class="brd">
              <%@type = "Learning"%>
              <div class="twocol02">
                <p class="c1">
                  <%= link_to get_image(current_user,'user','thumb','nobrd'),my_page_path(:user_id => current_user.id) %>
                  <br />
                  <span class="mname">
                    <%= link_to get_name(current_user.login,15),my_page_path(:user_id => current_user.id)%>
                  </span>
                </p>
                <p class="c2">
                  <% form_remote_tag :url=>{:controller=>'comment',:action=>'reply_comment',:id=>learning_comment.id,:type=>@type} ,:html=>{:name=>'replycomment'} ,:before => "$('#spinner_#{learning_comment.id}').show();",:complete => "$('#spinner_#{learning_comment.id}').hide();" do|f| %>
                    <%=hidden_field "obj","obj_id", :value =>learning_comment.commentable_id%>
                    <%= text_area_tag 'comment_text', nil, :class => 'inputtxt'%>
    <%#= image_tag("loading.gif",:align => 'absmiddle',:border=> 0,:id => "spinner_#{c.id}",:style=>"display:none; width: 20px; margin-top: 0px;" ) %>
                    <%= submit_tag 'Post' ,:class=>'grnbtn' %>

                  <%end%>
                </p>
              </div>
            </div>
          <%else%>
            <div class="brd">
              <div class="twocol02">
                <p class="c2">Please login, to comment.</p>
              </div>
            </div>
          <%end%>

        </div>
      </div>


    </div>
  </div>
</div>
<p class="clear">
</p>
