<!-- Container Start -->
<div class="content">
    <%= render :partial => "top_nav" %>
    <h1>Contests - Generic Report</h1>
    <form id="form1" name="form1" method="post" action="">
        <table border="0" cellpadding="5" cellspacing="0" id="mytable01">
            <tr>
                <td colspan="2">
                    <ul class="admtot">
                        <li>
                            Total Contests:&nbsp;<%= @contest.length %>
                        </li>
                        <li>
                            Total Active Contests:&nbsp;<%= @active_contest_count %>
                        </li>
                        <li>
                            Total Participants:&nbsp;<%= @participant_count %>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </form>

    <p style="float:right;">
        <%= link_to "Download Report",:controller => "admin/contests",:action => "download" %>
    </p>

    <br/>
    <div class="clear">
        &nbsp;
    </div>
    <div class="demo_jui">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
            <thead>
                <tr class="dataTable">
                    <th width="20%">
                        Title
                    </th>
                    <th width="10%">
                        Participants
                    </th>
                    <th width="10%">
                        Start Date
                    </th>
                    <th width="10%">
                        End Date
                    </th>
                    <th width="10%">
                        Result Date
                    </th>
                    <th width="10%">
                        Contest Status
                    </th>
                    <th width="10%">
                        Active / Deactive
                    </th>
                </tr>
            </thead>
            <tbody>
                <% unless @contest.length == 0 %>
                <% @contest.each do |l| %>
                <tr class="dataTable">
                    <td>
                        <a target = "_blank" href="/contest/index/<%= l.id %>"><%=get_name(l.name,30) %></a>&nbsp;|&nbsp;<%#= link_to  "View Stats"  ,:controller=>"admin/contests", :action => :report,:id => l.id %>
                        <%= link_to  "Edit"  ,:controller=>"admin/contests", :action => :edit,:permalink => l.permalink %>
                    </td>
                    <td align="center">
                        <%= link_to l.participants.length, :action => "participants", :id => l.id %>
                    </td>
                    <td align="center">
                        <%= l.start_date.strftime("%d %b %Y") %>
                    </td>
                    <td align="center">
                        <%= l.end_date.strftime("%d %b %Y") %>
                    </td>
                    <td align="center">
                        <%= l.result_date.strftime("%d %b %Y") %>
                    </td>
                    <td>
                    	<%= l.contest_status %>
                    </td>
                    <td align="center">
                        <label>
                            <%= radio_button_tag "contestCentral#{l.id}","enabled",l.status.to_i == 1,:onclick => remote_function(:url => {:controller => "admin/contests",:action => "update_status",:id => l.id,:status => 1}) %>Active
                        </label>
                        <label>
                            <%= radio_button_tag "contestCentral#{l.id}","disabled",l.status.to_i == 0,:onclick => remote_function(:url => {:controller => "admin/contests",:action => "update_status",:id => l.id,:status => 0}) %>Deactive
                        </label>
                    </td>
                </tr>
                <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
    <div id="chartdiv" align="center">
    </div>
    <script type="text/javascript">
        /*
         var chart = new FusionCharts("Charts/FCF_MSColumn3D.swf", "ChartId", "800", "450");
         chart.setDataURL("Data/contestCenterReport.xml");
         chart.render("chartdiv");
         */
    </script>
</div>
<!-- Container End -->
