<div class="box1">
  <div class="row">
    <div class="c1"><p> <%= get_image(member,'user','thumb_large','snap')%> </p>
     <!--   <p class="btns"><a class="grnbtn02" href="#">Remove</a></p> -->
     </div>
    <p class="c2">
            <%if member.first_name.nil? and member.last_name.nil?%>
                    <%= link_to member.login ,my_page_path(:user_id => member.id), :class => "blue"%>
            <%else%>
                    <%= link_to member.first_name.to_s + " " + member.last_name.to_s ,my_page_path(:user_id => member.id), :class => "blue"%>              
            <%end%>
      <br />
<%=h get_name(member.status_message,15)%></p><br/><br/>&nbsp;
        <%if member.profile.pic_present%>
                <%belt_class = get_class(member.expertise_points||0)%>
        <p class="c2">
          <%unless belt_class == "belt_white"%>
              <span class="<%=belt_class%>"></span>
              <%= get_expertise_level(belt_class)%>
          <%end%>
        </p>
        <%end%>
       <p class="c2">
        <%=member.followers_count%> Followers
      </p>
        <p class="c2">
        <%=member.follow_count%> Following
      </p>
        <p class="c2">
        <%=member.designs.size%> Designs
      </p>

  </div>
</div>
