<div class="c2 rightcol">
    <%= get_right_panel_banner(@right_banner,'Home') %>
    <!-- Discussion Div start -->
    <div class ="<%= cycle('cBoxblue','cBoxorange','cBoxgreen') %>">
        <div class="cBoxhead">
            <p class="headtxt">
                Discussion Lounge
            </p>
        </div>
        <div class="cBoxcontainer">
            <!-- Two col start -->
            <div class="twcol">
                It is a new way for you to connect with members at the convention for more networking and learning some new ideas to improve your skills.
            </div>
            <!-- Two col end -->
            <p class = "spacer01">
            </p>
        </div>
    </div>
    <!-- Discussion Div end -->
    <div class="clear">
    </div>
    <!-- Design Central Div start -->
    <div class ="<%= cycle('cBoxblue','cBoxorange','cBoxgreen') %>">
        <div class="cBoxhead">
            <p class="headtxt">
                Design Central
            </p>
        </div>
        <div class="cBoxcontainer">
            <!-- Two col start -->
            <div class="twcol">
                Share your designs and exchange comments, feedbacks from Experts and Community Users
            </div>
            <!-- Two col end -->
            <p class = "spacer01">
            </p>
        </div>
    </div>
    <!-- Design Central Div end -->
    <div class="clear">
    </div>
    <!-- Learning Central Div start -->
    <div class ="<%= cycle('cBoxblue','cBoxorange','cBoxgreen') %>">
        <div class="cBoxhead">
            <p class="headtxt">
                Learning Central
            </p>
        </div>
        <div class="cBoxcontainer">
            <!-- Two col start -->
            <div class="twcol">
                Find the Tutorials, Learning Materials. You can also request a Materials or Tutorials here.
            </div>
            <!-- Two col end -->
            <p class = "spacer01">
            </p>
        </div>
    </div>
    <!-- Learning Central Div end -->
    <div class="clear">
    </div>
<!--
    <div class ="<%= cycle('cBoxblue','cBoxorange','cBoxgreen') %>">
        <div class="cBoxhead">
            <p class="headtxt">
                Contest
            </p>
        </div>
        <div class="cBoxcontainer">
             <div class="twcol">
                Participate in Contest and exhibit your skills and prove yourself. Do you have that challenge?
            </div>
               <p class = "spacer01">
            </p>
        </div>
    </div>
     <div class="clear">
    </div>
    -->
    <%= get_right_panel_banner(@right_banner,'Home','Bottom') %>
</div>
