<script type="text/javascript">
          function toggleCommentDiv(divid){  
            $('#game_share_'+divid).hide();
            $('#game_favorite_'+divid).hide();
            $('#game_comment_'+divid).slideToggle();
          }
          function toggleShareDiv(divid){
            $('#game_comment_'+divid).hide();
            $('#game_favorite_'+divid).hide();
            $('#game_share_'+divid).slideToggle();
          }
          function toggleFavoriteDiv(divid){  
            $('#game_comment_'+divid).hide();
            $('#game_share_'+divid).hide();
            $('#game_favorite_'+divid).slideToggle();
          }
          function checkFollowings(){
        <%if logged_in?%>
          <%if current_user.following_by_type('User').empty?%>
                show_notice('You are not following anybody yet','error')
                return false;
          <%end%>
        <%end%>
          }
          function checkFollowers(){
        <%if logged_in?%>
          <%if current_user.followers.empty?%>
                show_notice('You dont have any followers yet','error')
                return false;
          <%end%>
        <%end%>
          }
</script>
<div class="twocol">
    <div class="viewcomm">
        <p class="views">
        </p>
        <p class="icolink">
            <%= get_view_count(g.view_count) %>
        </p>
        <p class="comments">
        </p>
        <p class="icolink">
            <a href="javascript:void(0);"><%length = g.comments.all.length %>
                <%if length == 1 %>
                <%c_name = "comment" %>
                <%else %>
                <%c_name = "comments" %>
                <%end %>
                <%= length %>&nbsp;<%=c_name %>
            </a>
        </p>
        <p class="favorites">
        </p>
        <p class="icolink">
            <%fav = g.favoriting_users.size %>
            <%if fav == 1 %>
            <%f_name = "favorite" %>
            <%else %>
            <%f_name = "favorites" %>
            <%end %>
            <%=fav %>&nbsp;<%=f_name %>
        </p>
        <p class="clear">
        </p>
    </div>
    <div class="c1">
        <p class="boximg">
            <%=link_to get_image(g,'game','medium','nobrd'),{:controller=>:games, :action => :game,:permalink => g.permalink} %>
        </p>
    </div>
    <div class="c2">
        <p class="head01">
            <%= link_to get_name(g.title,60),:controller=>:games, :action => :game,:permalink => g.permalink %>
        </p>
        <p class="txt01 fleft">
            <%= time_ago(g.created_at) %>
        </p>
        <div class="rating" id="rated_<%=g.id%>" style="">
            <% @game = g %>
            <%=render :partial=>"/games/star_rate" ,:locals => {:d => @game },:inline=>true %>
        </div>
        <p class="clear">
        </p>
        <p class="txt topmargin">
            <%= h get_name(g.description,250) %>
        </p>
        <% unless g.tags.nil? %>
        <% unless g.tags.length == 0 %>
        <p class="tags">
            <% g.tags.split(',').each do |tag| %>
            <%= link_to h(tag) , :controller => "games", :action => "index" , :tag => tag, :tagable_id => g.id  %><%= "," unless tag == g.tags.split(',').last %>
            <% end %>
        </p>
        <% end %>
        <% end %>
    </div>
    <p class="clear">
    </p>
    <div class="iconComment brdBotDot01">
        <div class = "comlinkpadd">
            <div class = "fleft">
                <p class="postcom">
                </p>
                <p class="icolink">
                    <a href="javascript:void(0);" class="blacklink" onclick="toggleCommentDiv(<%=g.id%>)">Comment</a>
                </p>
                <p class="share">
                </p>
                <p class="icolink">
                    <a href="javascript:void(0);" class="blacklink" onclick="toggleShareDiv(<%=g.id%>)">Share</a>
                </p>
                <p class="favorites">
                </p>
                <p class="icolink">
                    <a href="javascript:void(0);" class="blacklink" onclick="toggleFavoriteDiv(<%=g.id%>)">Add to Favorites</a>
                </p>
            </div>
        </div>
    </div>
    <p class="clear">
    </p>
    <div id="ComContent<%=g.id%>">
    </div>
</div>
<p class="clear">
</p>
<!-- Comment form starts --><%@type="Game" %>
<div id = "game_comment_<%=g.id%>" style ="display:none;">
    <div id="ComContent">
        <%if logged_in? %>
        <div class="brd">
            <% form_remote_tag :url=>{:controller=>'comment',:action=>'post_comment',:id=>g.id,:type=>@type} ,:html=>{:name=>'postcomment'} , :before => "$('#spinner').show();",:complete => "$('#spinner').hide();" do %>
            <%= text_area_tag 'comment_text', nil, :class => 'inputtxt' %>
            <%= submit_tag 'Post' ,:class=>'grnbtn' %>
            <%= image_tag("loading.gif",:align => 'absmiddle',:border=> 0,:id => "spinner",:style=>"display:none; width: 20px; margin-top: 0px;" ) %>
            <%end %>
        </div>
        <%else %>
        <div class="brd">
            Please login to post comment.
        </div>
        <%end %>
    </div>
</div>
<!-- comment form ends --><!-- sharing form -->
<div id = "game_share_<%=g.id%>" style ="display:none;">
    <div id="ComContent">
      <%if logged_in?%>
      <%height = "height:153px;"%>
      <%else%>
      <%height = "height:51px;"%>
      <%end%>
       
        <div class="brd" style="<%=height%>">
            <div class="group iconComment">
               <%if logged_in? %>
                <div class="fourCol">
                    <p class="c7">
                        <span class="followingIcon"></span>
                        <span class="black">Share with People You Follow</span>
                    </p>
                    <% form_remote_tag :url => {:controller=> "share",:action => 'share_with_followings'} do -%>
                    <p class="c8">
                        <%=hidden_field_tag 'id', g.id %>
                        <%=hidden_field_tag 'type', @type %>
                        <!-- <%=check_box_tag 'all_following', '1', false, :class => 'inputcheck'%>All Followings --><span><%= submit_tag 'Share' , :class=>"grnbtn01" %></span>
                    </p>
                    <%end %>
                    <p class="frm_brd01">
                    </p>
                </div>
                <div class="fourCol">
                    <p class="c7">
                        <span class="followersIcon"></span>
                        <span class="black">Share with Followers</span>
                    </p>
                    <% form_remote_tag :url => "/share/share_with_followers" do -%>
                    <p class="c8">
                        <%=hidden_field_tag 'id', g.id %>
                        <%=hidden_field_tag 'type', @type %>
                        <!-- <%=check_box_tag 'all_followers', '1', false, :class => 'inputcheck'%>All Followers --><span><%= submit_tag 'Share' , :class=>"grnbtn01" %></span>
                    </p>
                    <%end %>
                    <p class="frm_brd01">
                    </p>
                </div>
              <%end%>
                <%=render :partial=>"designs/share_with_other" ,:locals=>{:d=>g,:flag=>true},:inline=>true %>
                <!--<div class="fourCol">
                <p class="c7">
                <span class="othernetwork"></span>
                <span class="black">Share with Other Network</span>
                </p>
                <ul class="shareIcons">
                <li><a class="shareFacebook" target = "_blank" href="http://www.facebook.com/sharer.php?u=http://<%=request.host_with_port%>/games/game/<%=g.id%>"></a></li>
                <li><a class="shareOrkut" target = "_blank" href="http://promote.orkut.com/preview?nt=orkut.com&du=http://<%=request.host_with_port%>/games/game/<%=g.id%>&tt=<%=g.title%>&cn=<%= h get_name(g.description,250) %>&tn=<%= g.pictures[0].nil? ? "" : g.pictures[0].photo.url(:medium) %>"></a></li>
                <li><a class="shareTwitter" target = "_blank" href="http://twitter.com/home?status= http://<%=request.host_with_port%>/games/game/<%=g.id%>" title="<%=g.title%>"></a></li>
                </ul>
                <p class="clear10"></p>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- sharing form end -->
<div id = "game_favorite_<%=g.id%>" style ="display:none;">
    <div id="ComContent">
        <% if logged_in? %>
        <%if current_user.has_favorite?(g) %>
        <div class="brd">
            You have already favorited this game.
        </div>
        <%else %>
        <div class="brd">
            <form action="postcomment.jsp" method="get" name="postcomment">
                <p style="float:left;">
                    Do you want to Add this Game to your Favorites?
                </p>
                <p style="float:left;">
                    <label>
                        <input type="radio" name="RadioGroup1" value="yes" id="RadioGroup1_0"<% if logged_in? %><%unless current_user.has_favorite?(g) %>onclick="<%= remote_function :url =>{:controller => :share, :action => :add_to_favorite, :id => g.id,:type=>@type} %>" <%end %><%if current_user.has_favorite?(g) %>checked="checked" <%end %><%end %>/>Yes
                    </label>
                    <label>
                        <input type="radio" name="RadioGroup1" value="yes" id="RadioGroup1_1"<% if logged_in? %><%if current_user.has_favorite?(g) %>onclick="<%= remote_function :url =>{:controller => :share, :action => :remove_from_favorite, :id => g.id,:type=>@type} %>" <%end %><%unless current_user.has_favorite?(g) %>checked="checked" <%end %><%end %>/>No
                    </label>
                </p>
            </form>
        </div><%end %>
        <%else %>
        <div class="brd">
            Please login to add as Favorites.
        </div>
        <%end %>
    </div>
</div>
