
<!-- Container Start -->
<div class="content">
    <h1>News - Manage News Rss<span class="fright">Total News Rss:&nbsp;<%= @rss.length %></span></h1>
    <table border="0" cellpadding="5" cellspacing="0" id="mytable01">
        <tr>
            <td>
                <ul class="admtot">
                    <li>
                        Total News Rss Items:&nbsp;<%= @rss.length %>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
        </tr>
        <tr>
            <td>
                <div class="Blue4pxbox">
                    <code>
                        $(this).corner();
                    </code>
                    <div class="profileForm">
                        <!-- Page Head start -->
                        <div class="pageheading">
                            <div class="c1 head14">
                                Add News Rss Url
                            </div>
                        </div>
                        <!-- Page Head end -->
                        <div class="brdBot01">
                        </div>
                        <!-- Form Start --><p class="spacer04"/><% remote_form_for(@news_rss,:url => {:action => :create}, :before => "$('#spinner').show();", :complete => "$('#spinner').hide();") do |f| %>
                        <div class = "errorExplanation" id = "error">
                        </div>
                        <div class="uplooad">
                            <div class="formrow">
                                <p class="c1">
                                    Title:
                                </p>
                                <p class="c2">
                                    <%= f.text_field :title, :class => "inputtxt01" %>
                                </p>
                            </div>
                            <div class="formrow">
                                <p class="c1">
                                    Link:
                                </p>
                                <p class="c2">
                                    <%= f.text_field :link, :class => "inputtxt01" %>
                                </p>
                            </div>
                            <div class="formrow">
                                <p class="c1">
                                    &nbsp;
                                </p>
                                <p class="c2">
                                    <%= submit_tag "Create",:class => "grnbtn01" %>
                                    <%= image_tag("loading.gif",:align => 'absmiddle',:border=> 0,:id => "spinner",:style=>"display:none; width: 20px;height:20px; margin-top: 0px;" ) %>
                                </p>
                            </div>
                            <% end %>
                        </div>
                        <!-- Form End -->
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <form id="form1" name="form1" method="post" action="">
        <div class="demo_jui">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr class="dataTable">
                        <th width="15%">
                            Title
                        </th>
                        <th width="15%">
                            Link
                        </th>
                        <th width="15%">
                            Date
                        </th>
		        <th width="15%">
                            Action
                        </th>
			<th width="20%">
                            Status
                            <br/>
                            Active / Inactive
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% unless @rss.length == 0 %>
                    <% @rss.each do |c| %>
                    <tr class="dataTable">
                        <td align="center">
                            <a href="#"><%= get_name(c.title) %></a>
                        </td>
                        <td align="center">
                            <a target = "_blank" href="<%= c.link %>"><%= get_name(c.link,100) %></a>
                        </td>
                        <td align="center">
                            <%= c.created_at.strftime("%d %b %Y") %>
                        </td>
                        <td align="center">
                            <label>
                                <%= link_to "Delete",{:controller => "admin/news_rss",:action => "delete",:id => c.id} ,{:confirm => "are you sure you whnt to delete this News Rss ?"} %>
                            </label>
                        </td>
                        <td align="center">
                            <label>
                                <%= radio_button_tag "discussion#{c.id}","enabled",c.status.to_i == 1,:onclick => remote_function(:url => {:controller => "admin/news_rss",:action => "update_status",:id => c.id,:status => 1}) %>Active
                            </label>
                            <label>
                                <%= radio_button_tag "discussion#{c.id}","disabled",c.status.to_i == 0,:onclick => remote_function(:url => {:controller => "admin/news_rss",:action => "update_status",:id => c.id,:status => 0}) %>Deactive
                            </label>
                        </td>
                    </tr>
                    <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
    </form>
</div>
<!-- Container End -->